@import '../../variables'

#nav-bar-container
    background-color: $blue
    color: $offWhite
    display: flex
    flex-direction: flex-row
    padding: 5px 10px 5px 10px
    margin: 0
    margin-bottom: 20px
    text-align: center

#nav-title
    flex: 1 1 auto

#nav-left, #nav-right
    flex: 0 0 auto
    line-height: 45px
    width: 70px


